body,html{height:100%;padding:0px;margin:0px;}
body{background:url(../img/cielo.jpeg) no-repeat fixed center;}

.a{background-color:#00bcd4;}
/*.b{background-color:red;}*/

.c{
	background-color:#cddc39;
	display:block !important
	}
	
.a,.b,.c{
	display:inline-block;
	width:33.33%;
	height:100%;
	float:left;
	}
/*.d{height:100%;}*/

.luna{
	z-index:1;
	text-align:center;
	background-color:pink;
	height:17%;
	width:100%;
	position:fixed;
	bottom:0px;
	}
	
.luna img{height:100%;}

/*#nave{z-index:2;background:url(../img/314x158spriteNave1.png) 0 0;position:fixed;top:5%;left:42%;width:157px;height:158px;}*/

#nave{
	z-index:2;
	text-align:center;
	position:fixed;
	top:5%;
	width:100%;
	height:20%
	}
	
#nave img{height:100%;}

#cpanel{}

#hidem,#showm{display:none}

